<h1>Listing logbooks</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Club</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logbooks.each do |logbook| %>
      <tr>
        <td><%= logbook.year %></td>
        <td><%= logbook.club %></td>
        <td><%= logbook.user %></td>
        <td><%= link_to 'Show', logbook %></td>
        <td><%= link_to 'Edit', edit_logbook_path(logbook) %></td>
        <td><%= link_to 'Destroy', logbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Logbook', new_logbook_path %>
