<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @logbook.year %>
</p>

<p>
  <strong>Club:</strong>
  <%= @logbook.club %>
</p>

<p>
  <strong>User:</strong>
  <%= @logbook.user %>
</p>

<%= link_to 'Edit', edit_logbook_path(@logbook) %> |
<%= link_to 'Back', logbooks_path %>
