<%= simple_form_for(@logentry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :start, as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d.%m.%Y %HH:%MM') } %>  
   
    <%= f.association :sport %>
    <%= f.association :intensity ,:label => 'Intensität'%>
    <%= f.input :runtime, :label => 'Dauer in Minuten' %>
    <%= f.input :distance ,:label => 'Distanz in km' %>
    <%= f.input :avg_heart_rate ,:label => 'durchschnittl. Puls' %>
    <%= f.input :lactat ,:label => 'Laktat in mmol'%>

    <%= f.association :logbook, input_html: { hidden: true } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
