

<% if user_signed_in? %>



<h5>Activities</h5>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Sportart</th>
      <th>Intensitaet</th>
      <th>Dauer</th>

      <th>Distanz</th>
      <th>Puls Durchschn</th>
      <th>Lactat in mmol</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @logentries.each do |logentry| %>
      <tr>
        <td><%= logentry.start %></td>
        <td><%= logentry.sport.name %></td>
        <td><%= logentry.intensity.name %></td>
	<td><%= logentry.runtime %></td>
        <td><%= logentry.distance %></td>
        <td><%= logentry.avg_heart_rate %></td>
        <td><%= logentry.lactat %></td>
        <!-- <td><%= link_to 'Show', logentry %></td> -->
        <td><%= link_to 'Bearbeiten', edit_logentry_path(logentry) %></td>
        <td><%= link_to 'Entfernen', logentry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Logentry', new_logentry_path %>

<% else %>

<h5>Sweatlog !</h5>

<% end %>
