<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @logentry.start %>
</p>

<p>
  <strong>Sportart:</strong>
  <%= @logentry.sport.name %>
</p>

<p>
  <strong>Intensität:</strong>
  <%= @logentry.intensity.name %>
</p>

<p>
  <strong>Dauer </strong>
  <%= @logentry.runtime %>
  <strong> Min. </strong>		
</p>

<p>
  <strong>Distanz :</strong>
  <%= @logentry.distance %>
 <strong>Km</strong>


</p>

<p>
  <strong>durchschnittl. Puls:</strong>
  <%= @logentry.avg_heart_rate %>
</p>

<p>
  <strong>Laktat in mmol :</strong>
  <%= @logentry.lactat %>
</p>

<%= link_to 'Bearbeiten', edit_logentry_path(@logentry) %> |
<%= link_to 'Neuer Logeintrag', new_logentry_path %>
<%= link_to 'Uebersicht', logentries_path %>
