<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Neuer Eintrag', new_logentry_path %></li>
  <li><%= link_to 'Benutzereinstellungen', edit_user_registration_path %></li>
  <li><%= link_to 'Abmelden', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Anmelden', new_user_session_path %></li>
  <li><%= link_to 'Registrieren', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
